/*Global*/

:root {
  /*color*/
  --color-white: #ffffff;
  --color-light-white: #eeeeee;
  --color-dark-white: #bdbdbb;
  --color-pink: #fe918d;
  --color-dark-pink: #ff6863;
  --color-black: #4d4d4d;
  --color-dark-grey: #4d4d4d;
  --color-grey: #616161;
  --color-light-grey: #7c7979;
  --color-blue: #73aace;
  --color-light-blue: #e3f2fd;
  --color-dark-blue: #417b9d;
  --color-yellow: #fff7d1;
  --color-orange: #feb546;
  --color-black: #000000;

  /*font size*/
  --font-large: 48px;
  --font-medium: 28px;
  --font-regular: 18px;
  --font-small: 16px;
  --font-micro: 14px;

  /*font weight*/
  --weight-bold: 700;
  --weight-semi-bold: 600;
  --weight-regular: 400;

  /*size*/
  --size-border-radius: 10px;

  /*Animation Duration*/
  --animation-duration: 300ms;
}
/*universal tags*/
* {
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: "Noto Sans", sans-serif;
  cursor: default;
}

a {
  text-decoration: none;
  color: var(--color-white);
}

ul {
  padding-left: 0px;
}

li {
  list-style: none;
}

button {
  background-color: transparent;
  cursor: pointer;
  border: none;
  outline: none;
}

/*typography*/
h1 {
  font-size: var(--font-large);
  font-weight: var(--weight-bold);
  color: var(--color-black);
  margin: 16px 0;
}

h2 {
  font-size: var(--font-regular);
  font-weight: var(--weight-semi-bold);
  color: var(--color-black);
  margin: 8px 0;
}
h3 {
  font-size: var(--font-regular);
  font-weight: var(--weight-regular);
  color: var(--color-black);
  margin: 8px 0;
}
p {
  font-size: var(--font-small);
  font-weight: (--weight-regular);
  color: var(--color-black);
  margin: 4px 0;
}
/* Navbar */

#navbar {
  position: fixed;
  display: flex;
  width: 100%;
  justify-content: space-between;
  background-color: transparent;
  align-items: center;
  color: var(--color-white);
  padding: 5px;
  z-index: 1;
  pointer-events: none;
}

#navbar.navbar--dark {
  background-color: var(--color-blue);
  padding: 5px;
  transition: all var(--animation-duration) ease-in-out;
  pointer-events: auto;
}

.navbar__menu {
  display: flex;
  padding-right: 20px;
}

.navbar__logo {
  font-size: var(--font-medium);
  font-weight: var(--weight-semi-bold);
  padding-left: 20px;
}
.navbar__menu__item {
  padding: 8px 12px;
  margin: 0 4px;
  cursor: pointer;
  border-radius: var(--size-border-radius);
  border: 1px solid transparent;
}

.navbar__menu__item:hover {
  border-color: var(--color-white);
  background-color: var(--color-dark-blue);
}

.navbar__toggle-btn {
  position: absolute;
  right: 32px;
  font-size: 20px;
  color: var(--color-white);
  top: 24px;
  display: none;
}

/* Home */
#home {
  background: var(--color-white) center/cover no-repeat;
  padding: 40px;
  text-align: center;
  padding-top: 100px;
}
.home__avatar {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  border: 3px solid var(--color-blue);
}
.home__title,
.home__description {
  color: var(--color-dark-blue);
}
.home__contact {
  font-size: var(--font-micro);
  font-weight: var(--weight-semi-bold);
  margin: 24px;
  padding: 8px 12px;
  color: var(--color-dark-blue);
  border: 1px solid var(--color-dark-blue);
  border-radius: var(--size-border-radius);
}

/*Section common*/

.section {
  padding: 50px;
  text-align: center;
  margin: auto;
}
.section__container {
  max-width: 1200px;
  margin: auto;
}

/* About */
.about__majors {
  display: flex;
  justify-content: space-between;
  margin: 100px 0;
}

.about__title {
  color: var(--color-dark-grey);
}
.about__description {
  font-size: var(--font-small);
  color: var (var(--color-grey));
}
.major__icon {
  width: 170px;
  height: 170px;
  line-height: 170px;
  font-size: 70px;
  color: var(--color-blue);
  margin: auto;
  border: 2px solid var(--color-blue);
  border-radius: 50%;
  margin-bottom: 30px;
}
.major__icon i {
  transition: all var(--animation-duration);
}
.major__icon i:hover {
  color: var(--color-dark-blue);
  transform: rotate(-30deg) scale(1.1);
}
.major__title {
  font-size: var(--font-regular);
  font-weight: var(--weight-semi-bold);
}
.major__title,
.major__description {
  color: var(--color-dark-grey);
}
.major__description {
  font-size: var(--font-small);
  margin: 10px 0;
}
.study_abroad {
  display: flex;
  align-items: center;
}
.study_abroad img {
  width: 5%;
}
.study__description {
  margin: 0 20px;
  text-align: left;
}
.country__name,
.country__period {
  color: var(--color-light-grey);
}
.country__name {
  font-size: var(--font-small);
}
.country__period {
  font-size: var(--font-micro);
}

/*Skills*/

#skills {
  background-color: var(--color-light-blue);
}

.skillset {
  display: flex;
  background: var(--color-blue);
  color: var(--color-light-white);
  margin: 20px 0;
}

p.skillset {
  justify-content: center;
  margin-left: 30px;
  margin-right: 30px;
}

.skillset__left {
  flex-basis: 60%;
  background: var(--color-dark-blue);
  padding: 20px 40px;
}
.skill {
  margin-bottom: 30px;
}
.skill__description {
  display: flex;
  justify-content: space-between;
}

.skill__bar {
  width: 100%;
  height: 3px;
  background-color: var(--color-blue);
}
.skill__value {
  width: 100%;
  height: 3px;
  background-color: var(--color-light-blue);
}
.skillset__right {
  flex-basis: 40%;
}
.skillset__title {
  color: var(--color-white);
}
.tools {
  background: var(--color-dark-white);
}

.tools,
.attributes {
  padding: 20px;
}

/* Work */
.work__categories {
  margin: 40px;
}
.category__btn {
  border: 1px solid var(--color-dark-blue);
  border-radius: var(--size-border-radius);
  font-size: var(--font-regular);
  padding: 8px 48px;
}
.category__btn.active,
.category__btn:hover {
  background-color: var(--color-blue);
  color: var(--color-white);
}

.category__btn.active .category__count,
.category__btn:hover .category__count {
  opacity: 1;
  top: 0;
}
.category__count {
  background-color: var(--color-orange);
  border-radius: 50%;
  color: var(--color-white);
  font-size: var(--font-micro);
  width: 24px;
  height: 24px;
  display: inline-block;
  line-height: 24px;
  position: relative;
  top: -20px;
  left: 4px;
  opacity: 0;
  transition: all var(--animation-duration);
}

.work__projects {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.projects {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 280px;
  height: 250px;
  margin: 2px;
  background-color: var(--color-light-white);
}

.project__img {
  max-width: 100%;
  max-width: 100%;
  align-self: center;
}

.project__description {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 0;
  transform: translateY(10px);
  transition: all var(--animation-duration) ease-in;
}

.projects:hover .project__description {
  opacity: 0.8;
  transform: translateY(0px);
}

.project__description h3 {
  color: var(--color-white);
}
.project__description h3:after {
  content: "";
  position: relative;
  display: block;
  left: 50%;
  width: 25px;
  height: 2px;
  margin-left: -12px;
  margin-top: 10px;
  background-color: var(--color-dark-white);
}
/* Contact */
#contact {
  background-color: var(--color-blue);
}
.contact__title,
.contact__rights,
.contact__email {
  color: var(--color-white);
}

.contact__title {
  margin: 32px 0;
}

.contact__links {
  font-size: var(--font-large);
  margin: 24px 0;
}

.contact__links i {
  transition: all var(--animation-duration) ease-in;
}

.contact__links i:hover {
  transform: scale(1.1);
  color: var(--color-dark-blue);
}

/* arrow up */
.arrow__up {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  font-size: 30px;
  position: fixed;
  color: var(--color-light-white);
  background-color: var(--color-dark-blue);
  bottom: 50px;
  right: 50px;
  opacity: 0;
  transition: opacity 300ms ease-in;
  pointer-events: none;
}
.arrow__up.visible {
  display: block;
  opacity: 1;
  pointer-events: auto;
}

/* For below 768px screen width */
@media screen and (max-width: 768px) {
  .navbar__toggle-btn {
    display: block;
    top: 15px;
  }
  #navbar {
    flex-direction: column;
    align-items: flex-start;
    background-color: var(--color-blue);
  }
  .navbar__menu {
    flex-direction: column;
    text-align: center;
    width: 100%;
    display: none;
  }
  .navbar__menu.open {
    display: block;
  }
  .about__majors {
    flex-direction: column;
  }
  .major {
    margin-bottom: 38px;
  }
  .skillset {
    flex-direction: column;
  }
  .study_abroad img {
    flex-grow: 0.1;
  }
  .projects {
    flex-grow: 1;
  }
  .category__btn {
    padding: 8px 20px;
    width: 80%;
    height: 80%;
  }
}
